<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ubuyquick.vendor">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".auth.LoginActivity"
            android:theme="@style/AppThemeFullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <data android:scheme="startactivityfromlink" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EditProfileActivity"
            android:theme="@style/AppThemeFullScreen" />
        <activity
            android:name=".auth.VerifyOTPActivity"
            android:theme="@style/AppThemeFullScreen" />
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ShopActivity"
            android:label="@string/title_activity_shop"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddShopActivity"
            android:label="Add New Shop" />
        <activity
            android:name=".ShopLocationActivity"
            android:label="Set Shop Location"
            android:theme="@style/AppThemeFullScreen" />
        <activity
            android:name=".orders.NewOrderActivity"
            android:label="New Order" />
        <activity
            android:name=".orders.AcceptedOrderActivity"
            android:label="Accepted Order" />
        <activity
            android:name=".orders.CancelledOrderActivity"
            android:label="Cancelled Order" />
        <activity
            android:name=".orders.DeliveredOrderActivity"
            android:label="Delivered Order" />
        <activity android:name=".CategoryActivity" />
        <activity android:name=".AddProductActivity" />
        <activity android:name=".SubCategoryActivity" />
        <activity
            android:name=".shop.EditShopProfileActivity"
            android:label="Edit Shop Profile" />
        <activity
            android:name=".auth.SignupActivity"
            android:label="Create New Profile" />
        <activity android:name=".NewProductActivity"
            android:label="Add New Product"></activity>
    </application>

</manifest>